body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

#canvas-container {
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  background: url('./img/5.Fondo/Capas/5.cielo_1920-1080px.png');
  background-size: cover;
  background-position: left;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#startscreen{
  width: 100%;
  height: 100%;
  position: absolute;
}

button{
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

@media screen and (min-aspect-ratio: 16/9) {
  #canvas-container {
    height: 90vh;
    width: unset;
  }
}

@media screen and (max-height: 500px) {
  #canvas-container {
    height: 100vh;
    width: unset;
  }
}
